<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../public/css/CadastroProduto.css">
    <!-- Logo na aba do site  -->
    <link rel="icon" type="image/x-icon" href="../../public/img/favicon-32x32.png">

    <title>Cadastro de Produtos | Pet Insight</title>
</head>

<body>
    <header>
        <a href="#">
            <img class="logo" src="../../public/img/Pet insight.png" alt="logo">
        </a>
    </header>

    <div class="voltar-index">
        <a href="Index.html">
            <img class="botao-voltar" src="../../public/img/voltar.png" alt="botao-voltar" />
        </a>
        <h2 class="txt-cadastro">Cadastro de Produto</h2>
    </div>

    <form action="../php/php2.php" method="POST" enctype="multipart/form-data">
        <section>

            <div class="container-info">

                <div class="info">

                    <label>Nome do Produto</label>
                    <input type="text" name="nome_produto" id="" placeholder="Digite o nome do produto" class="txt">

                    <div class="upload-container">

                        <div class="container-img">
                            <label for="fileInput" class="upload-box">
                                <span class="spanC">Carregue até 3 imagens</span>
                            </label>
                            <input class="enviar-img" type="file" id="fileInput" multiple="multiple" accept="image/*"
                                name="imagens[]" hidden>
                            <div id="preview-container" style="display: flex; gap: 5px;"></div>
                        </div>
                    </div>

                </div>

                <div class="info">

                    <label for="produto">Tipo</label>
                    <select class="opcao" id="produto" name="tipo">
                        <option class="select-txt" value="">Selecione o tipo...</option>
                        <option value="ração">Ração</option>
                        <option value="aperitivos">Aperitivos</option>
                        <option value="coleiras">Coleiras</option>
                        <option value="brinquedos">Brinquedos</option>
                        <option value="higiene">Higiene</option>
                    </select>

                    <label>Marca</label>
                    <input type="text" name="marca" id="" placeholder="Digite a marca" class="txt">

                    <label>Preço</label>
                    <input aria-label="input" class="valor-input" type="text" name="preco" id="preco" min="1">

                    <label>Estoque</label>
                    <input class="txt" type="number" name="estoque" id="valor-input" placeholder="000">

                </div>

                <div class="info">

                    <label>Descrição curta</label>
                    <textarea class="txt" id="descricao" name="descricao_curta" rows="4"
                        placeholder="Digite a descrição do produto..."></textarea>

                    <label>Descrição detalhada</label>
                    <textarea class="txt" id="descricao_detalhada" name="descricao" rows="4"
                        placeholder="Digite a descrição do produto..."></textarea>

                    <div class="div-button">
                        <button class="cadastrar-button" type="submit" name="enviar-dados">Cadastrar</button>
                    </div>

                </div>
            </div>
        </section>
    </form>

    <script src="../../public/js/CadastroProdutos.js"></script>
    <script src="../../public/js/tema.js"></script>
</body>

</html>